apiVersion: v1
kind: Config
users:
- name: ${SA}
  user:
    token: ${SA_TOKEN}
clusters:
- cluster:
    certificate-authority-data: ${CLUSTER_CA}
    server: ${CLUSTER_SERVER}
  name: emea-staging
contexts:
- context:
    cluster: emea-staging
    user: ${SA}
  name: emea-staging-context
current-context: emea-staging-context